


/*html {
	height: 100%;
	overflow: hidden;
}*/

body {
	background-color:grey;
	background-size: cover;
}

.nav-bar {
	background-color: black;
	margin-bottom:20px;
}

.nav-bar a {
	color: white;
}

.nav-bar h1 {
	text-align: center;
}

.wrapper-pad {
	padding: 10px;
}

.page-education img {
	max-height:100px;
	max-width: 150px;
}

.page-education .row {
	margin-bottom: 20px;
}

.page-education h5 {
	margin: auto;
	display: block;
}

table, th, td {
	border: 2px solid black;
}

td {
	width: 200px;
}

.slide img {
	height: 400px;
	width:350px;
}

.gif{
	height:200px;
	width:325px;
}



/*
.colors-cbhs {
	background-color: #6600cc;
	color: #ffff00;
	/*margin-bottom: -9999px;
	padding-bottom: 9999px;
	padding-bottom: 40%;
}

.colors-nd {
	background-color: rgb(12,35,64);
	color: #e6ac00;
}

.colors-devcode {
	background-color: orange;
}

*/
